/* #mi{
    background-color: red;
    width: 300px;
    display: inline-block;
}
#csk{
    background-color: yellow;
    width: 300px;
    display: inline;
}
#rcb{
    background-color: blue;
    width: 300px;
    display: block;
}
body{
    display: flex;
} */

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 20px;
    margin-top: 20px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Kaushan Script", cursive;
}

#left{
    display: flex;
    gap: 20px;
}
#right{
    display: flex;
    gap: 20px;
}

section{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    padding: 20px;
    margin-top: 20px;
}

#center{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

h1{
    padding: 0px;
}